* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: white;
}

header {
    position: absolute;
    top: 40px;
    left: 0;
}

header img {
    display: block;
    margin: 0;
    width: 120px;
    height: 44px;
}

.imagem-persona {
    margin-right: 50px;
}

/* Campo Total */

.campo-total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

/* Campos dos Textos */

.titulos {
    margin-bottom: 0px;
    margin-left: 5px;
    opacity: 50%;
}

.campo-dos-textos {
    display: flex;
    flex-direction: column;
}

textarea.campo1, textarea.campo2 {
    width: 600px;
    height: 250px;
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    resize: none;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    color: #0A3871;
}


/* Todos os Botões */

.campo-dos-botoes {
    margin-top: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div-posicao-um {
    margin-top: 40px;
    margin-bottom: 150px;
}

.div-posicao-dois {
    margin-top: 60px;
    align-items: center;
}

.btn-um {
    border-radius: 30px;
    border-style: none;
    padding: 20px;
    background-color: #0A3871;
    color: antiquewhite;
    margin-bottom: 15px;
}

.btn-dois {
    border-radius: 30px;
    border-style: none;
    padding: 20px;
    background-color: #0A3871;
    color: antiquewhite;
}

.btn-tres {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border-style: none;
    background-color: #0A3871;
    color: antiquewhite;
    margin: 10px;
    margin-left: 260px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imagem-icones {
    width: 40px;
    height: 40px;
    background-color: #0A3871;
    cursor: pointer;
}