* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: white;
}

header {
    position: absolute;
    top: 40px;
    left: 0;
}

header img {
    display: block;
    margin: 0;
    width: 120px;
    height: 44px;
}

.imagem-persona {
    margin-right: 40px;
}

/* Campo Total */

.campo-total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

/* Campos dos Textos */

.titulos {
    margin-bottom: 0px;
    margin-left: 5px;
    opacity: 50%;
}

.campo-dos-textos {
    display: flex;
    flex-direction: column;
}

textarea.campo1, textarea.campo2 {
    width: 600px;
    height: 250px;
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    resize: none;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    color: #0A3871;
}


/* Todos os Botões */

.campo-dos-botoes {
    margin-top: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div-posicao-um {
    margin-top: 40px;
    margin-bottom: 150px;
}

.div-posicao-dois {
    margin-top: 60px;
    align-items: center;
}

.btn-um {
    border-radius: 30px;
    border-style: none;
    padding: 20px;
    background-color: #0A3871;
    color: antiquewhite;
    margin-bottom: 15px;
}

.btn-dois {
    border-radius: 30px;
    border-style: none;
    padding: 20px;
    background-color: #0A3871;
    color: antiquewhite;
}

.btn-tres {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: #0A3871;
    color: antiquewhite;
    margin: 10px;
    margin-left: 260px;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}

/* Hover Effects */
.btn-um:hover, 
.btn-dois:hover, 
.btn-tres:hover {
    background-color: #1E3A8A; /* Um tom mais claro de azul que o original */
}

.imagem-icones {
    width: 40px;
    height: 40px;
    background-color: #0A3871;
    cursor: pointer;
}

/* Carrossel */

.carousel-container {
    width: 550px;
    max-width: 600px;
    height: 560px; /* Ajuste a altura para ser fixa */
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    color:#0A3871;
    box-sizing: border-box;
}

.carousel-item {
    display: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    height: 400px; /* Adicione uma altura fixa para cada item */
}

.carousel-item.active {
    display: block;
}

.carousel-buttons {
    position: absolute;
    bottom: 20px; /* Posiciona os botões na parte inferior do contêiner */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #18378b;
}

.carousel-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #0A3871;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.titulo-texto-carrossel {
    text-align: center;
}

.texto-carrossel {
    text-align: justify;
    font-weight: 400;
}
